/* Style the links inside the navigation bar */
.nav-item a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 22px 22px;
  text-decoration: none;
  font-size: 28px;
}

/* Style the links inside the navigation bar */
.nav-item active a {
  color: #DCDCDC;
}

/* Change the color of links on hover */
.container-fluid a:hover {
  background-color: #ddd;
}

#product-list {
  width: 50%;
  margin: 0 auto;
}

/* Add an active class to highlight the current page
.container-fluid a.nav-link {
  background-color: #DCDCDC;
} */

#modal-basket {
  margin-top:40px;
}