<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Parcel Tracker">
    <meta name="author" content="Callum Kirkman">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body onload="chooseFunction()">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <img src="../static/assets/companyLogo.png" alt="Company Logo" width="85" height="85"/>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('data') }}">Data</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('tracking') }}">Order Tracking</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('about') }}">About</a>
            </li>
        </ul>
        <ul class="navbar-nav me-right">
            <li class="logged-in">
                <a href="{{ url_for('account') }}" class="btn btn-primary btn-lg btn-info">Account</a>
            </li>
            <li class="logged-in">
                <a href="{{ url_for('checkout') }}" class="btn btn-primary btn-lg btn-warning">Basket</a>
            </li>
            <li class="logged-in">
                <a onclick="logoutFunction()" href="{{ url_for('logout') }}" class="btn btn-secondary btn-lg"
                   id="logout">Logout</a>
            </li>
            <li class="logged-out">
                <a href="#" class="btn btn-primary btn-lg modal-trigger"
                   data-target="modal-login">Login</a>
            </li>
            <li class="logged-out">
                <a href="#" class="btn btn-primary btn-lg modal-trigger" data-target="modal-signup">Sign up</a>
            </li>
        </ul>
    </div>
</nav>

<!-- LOGIN MODAL -->
<div id="modal-login" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="wrapper fadeInDown">
                <div id="formContentLogIn">
                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="../static/assets/user.png" id="logIcon" alt="User Icon"/>
                    </div>

                    <!-- Login Form -->
                    <form action="{{ url_for('login') }}" method="POST">
                        <input type="email" id="loginL" class="fadeIn second" name="email" placeholder="email">
                        <input type="password" id="passwordL" class="fadeIn third" name="pass" placeholder="password">
                        <input onclick="loginFunction()" type="submit" class="fadeIn fourth" value="Log In">
                    </form>
                    <div class="fadeIn fifth">
                        <a class="underlineHover float-right" href="#">Forgot Password?</a>
                        <button type="button" class="btn btn-danger float-right" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SIGN UP MODAL -->
<div id="modal-signup" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="wrapper fadeInDown">
                <div id="formContentSignIn">
                    <!-- Icon -->
                    <div class="fadeIn first">
                        <img src="../static/assets/user.png" id="SignIcon" alt="User Icon"/>
                    </div>

                    <!-- Login Form -->
                    <form action="{{ url_for('signup') }}" method="POST">
                        <input type="text" id="name" class="fadeIn second" name="name" placeholder="name">
                        <input type="email" id="loginS" class="fadeIn second" name="email" placeholder="email">
                        <input type="password" id="passwordS" class="fadeIn third" name="pass" placeholder="password">
                        <input type="password" id="confirmPassword" class="fadeIn third" name="confPass"
                               placeholder="Confirm password">
                        <input onclick="loginFunction()" type="submit" class="fadeIn fourth" value="Sign Up">
                    </form>
                    <div class="fadeIn fifth">
                        <a class="underlineHover float-right" href="#">Forgot Password?</a>
                        <button type="button" class="btn btn-danger float-right" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash; Basket MODAL &ndash;&gt;-->
<!--<div id="modal-basket" class="modal">-->
<!--    <div class="modal-dialog modal-lg">-->
<!--        <div class="modal-content center-align">-->
<!--            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
<!--            <h4>Basket details</h4><br/>-->
<!--            &lt;!&ndash; TODO: Total price &#45;&#45; Total quantity? &#45;&#45; if quantity = none, remove? &#45;&#45; make html page? &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<main role="main" class="container" style="margin-top:110px">
    <!-- Content -->
    {% block content %}{% endblock %}

</main>


<script>
    function chooseFunction() {
      let status = '{{ logg_status }}';

      if (status == "True") {
        loginFunction();
      } else {
        logoutFunction();
      }
    }
</script>
<script>
    function logoutFunction() {
      var x, i;
      x = document.querySelectorAll(".logged-in");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      var y, ii;
      y = document.querySelectorAll(".logged-out");
      for (ii = 0; ii < y.length; ii++) {
        y[ii].style.display = "block";
      }
    }
</script>
<script>
    function loginFunction() {
      var x, i;
      x = document.querySelectorAll(".logged-out");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      var y, ii;
      y = document.querySelectorAll(".logged-in");
      for (ii = 0; ii < y.length; ii++) {
        y[ii].style.display = "block";
      }
    }
</script>


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../static/scripts/auth.js"></script>
<script src="../static/scripts/index.js"></script>
</body>
</html>