{% extends "base.html" %}
{% set active_page = "signup" %}

<head>
    <h1>{% block title %}Signup{% endblock %}</h1>
</head>

{% block content %}
<body>
<div class="main-body">
    <h1>Welcome to Signup</h1>
    <p>Welcome to the main page of my app</p>
</div>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs -->
        <a href="{{ url_for('login') }}"><h2 class="inactive underlineHover">Sign In</h2></a>
        <h2 class="active">Sign Up </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../static/assets/user.png" id="icon" alt="User Icon"/>
        </div>

        <!-- Login Form -->
        <form action="/register" method="POST">
            <input type="text" id="name" class="fadeIn second" name="name" placeholder="name">
            <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
            <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
            <input type="password" id="confirmPassword" class="fadeIn third" name="confPass"
                   placeholder="Confirm password">
            <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>

    </div>
</div>
</body>
{% endblock %}